
/* .sider-container{
    width: 80%;
    height: 300px;
    background-color: yellow;
    z-index: 20;
    display: none;
}

@media screen and (max-width: 1000px) {
    .sider-container{
        display: block;
        
    }
} */