:root{
    --header-height : 50px;
    --header-button-height : 28px;
    --content-height : calc(100% - 53px);
    --avatar-size : 300px;
}

.user-page-container{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: white; */
}

.user-navi-header{
    width: 100%;
    margin: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
    padding-bottom: 0px;
    /* background-color: white; */
    height: var(--header-height);
}

.user-navi-header .ant-btn{
    margin: 0px 3px;
    height: var(--header-button-height);
    display: flex;
    align-items: center;
    border:0px;
    border-radius: 10px;
    /* background-color: white; */
    font-size: 18px;
    box-shadow: black;
}

.user-navi-header .ant-btn:hover{
    color:black;
    /* background-color: white; */
}

.user-navi-header .ant-btn:focus::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #0aa4d5;
    z-index: 999;
}

.user-page-container .user-navi-divider{
    margin:0px;
    width: 100vw;
    position: absolute;
    top: var(--header-height);
    left: 0;
    border-top-color: gray;
    z-index : 10;
}

/* --------------------- content header 分界线 ----------------- */

.user-page-container .content-container{
    margin: 1px 0 0 0;
    position: absolute;
    width: 100%;
    height: var(--content-height);
    top: var(--header-height);
    left: 0;
    display: flex;
    /* background-color: white; */
}

.user-page-container .content-container .left-container{
    width: 20%;
    height: 100%;
    float: left;
    /* background-color: white; */
    flex: 1;
    margin : 0 0 0 100px;
}

.user-page-container .content-container .right-container{
    position: relative;
    width: 80%;
    height: 100%;
    float: right;
    /* background-color: white; */
    flex: 4;
}

.user-page-container .content-container .left-container .user-avatar{
    width: var(--avatar-size);
    height: var(--avatar-size);
    margin : -30px 0 0 0;
    z-index : 100;
    border-color: #d6dadf;
}

.user-page-container .content-container .left-container .edit-container Button{
    width: var(--avatar-size);
    background-color: #f3f4f6;
    color : black;
}

.user-page-container .content-container .right-container .overview-container{
    position: absolute;
    top: 30px;
    left: 0;
    width: 80%;
}

.user-page-container .content-container .right-container .overview-container .overview-hint{
    margin:0 30px 20px 50px;
}

/* heatmap颜色设置 */
.user-page-container .content-container .right-container .overview-container .react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.user-page-container .content-container .right-container .overview-container .react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.user-page-container .content-container .right-container .overview-container .react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.user-page-container .content-container .right-container .overview-container .react-calendar-heatmap .color-scale-4 { fill: #1e6823; }

.user-page-container .content-container .right-container .overview-container .react-calendar-heatmap{
    margin: 0 30px 0 30px;
}


/* --------------- record setting ------------- */
.overview-container .setting-title {
    margin: 0;
    width: 100%;
    margin: 0 30px;
}
.overview-container .setting-title .setting-title-text{
    margin: 0 0 0 30px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.overview-container .setting-title .setting-divider{
    margin: 0 30px 10px 30px;
}

.overview-container .record-setting-container{
    position: relative;
    width: 100%;
    margin: 0 60px;
    display: flex;
    flex-direction: column;
}
.overview-container .record-setting-container .record-setting-item{
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 25px;
    border-color: #d0d7de;
    border-width: 1px;
    border-style: solid;
    margin: 10px 0;
}
.overview-container .record-setting-container .record-setting-item .record-setting-title{
    width: 100%;
    text-align: left;
    margin-left: 20px;
}
.overview-container .record-setting-container .record-setting-item .record-setting-slider{
    width: 90%;
    margin-left: 20px;
}
.overview-container .record-setting-container .record-setting-item .record-setting-slider .ant-slider-dot{
    border-color: #d6e685;
}
.ant-slider-handle::after{
    box-shadow: 0 0 0 4px #d6e685 !important;
}


@media screen and (max-width: 700px){
    .user-page-container .content-container .left-container{
        display: none;
    }
    .user-page-container .content-container .right-container{
        width: 100%;
    }
    .user-page-container .content-container .right-container .overview-container{
        width: 100%;
    }

    .user-page-container .content-container .right-container .overview-container .react-calendar-heatmap{
        width: 100%;
        margin: 0;  
    }

    .user-page-container .content-container .right-container .overview-container .record-setting-container{
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .user-page-container .content-container .right-container .overview-container .record-setting-item .record-setting-title{
        margin: 6px;
        font-size: 12px;
    }

    .user-page-container .content-container .right-container .overview-container .record-setting-slider{
        width: 90%;
    }
}