
/* 设置上传页面尺寸 */
/* 页面尺寸为300px, 300px */
/* .upload_box {
    width: 80%;
    height : 30%;
    margin-top : 10%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
} */

.upload-box-container{
    height: 100%;
    width : 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upload-box-container .upload-box{
    margin-top : 20%;
    height: 30%;
    width: 80%;
    border-radius: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .upload-box-container .upload-box {
        height: 40%;
    }

    .upload-box-container .upload-box .dragger .ant-upload-hint{
        margin: 10px 0;
    }
}