
/* 设置上传页面尺寸 */
/* 页面尺寸为300px, 300px */
.upload_box {
    width: 50vw;
    height: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
}