
/* 设置搜索框尺寸与距离*/
.search-record-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    height: 50%;
    background-color: #f6f8fa;
}

.search-record-container > * {
    margin : 10px;
}

.search-record-container .bread-container{
    width: 100%;
}

.search-record-container .ant-input{
    color : black;
}

.search-record-container .record-table{
    width: 80%;
    line-height: 1em;
}

.bread-container .bread-crumb{
    margin : 15px 10px 0px 10px;
}

.ant-select-selection-item{
    /* width:max-content; */
    margin: 0 10px;
}

@media screen and (max-width: 1024px) {
    .search-record-container{
        height: 100%;
    }
    .search-record-container .record-table{
        width: 90%;
        margin : 0 10px;
    }
    .search-record-container .record-table .ant-table-content{
        font-size: 6px;
    }
    .search-record-container .record-table .ant-table-pagination{
        font-size: 6px;
    }
}