
/* 设置搜索框尺寸与距离*/
.search-record-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-direction: column;
    height: 50%;
    background-color: #f6f8fa;
}

.search-record-container > * {
    margin : 10px;
}

.search-record-container .bread-container{
    width: 100%;
}

.search-record-container .ant-input{
    color : black;
}

.search-record-container .record-table{
    width: 80%;
    line-height: 1em;
    position: relative;
}

.search-record-container .record-table .ant-table-pagination{
    position: absolute;
    bottom: -100px;
    left: -10%;
    width: 100%;
    margin: 0 10 0 10;
    padding-bottom: 10px;
    width: 110%;
}

.search-record-container .record-table .ant-pagination-options{
    display: none;
}

.bread-container .bread-crumb{
    margin : 15px 10px 0px 10px;
}

.ant-select-selection-item{
    margin: 0 10px;
}

@media screen and (max-width: 700) {
    .search-record-container{
        position : relative;
        height: 100%;
        width: 90%;
        margin: 0 20px;
    }
    .search-record-container .record-table{
        width: 100%;
    }
}