:root{
    --header_height : 60px;
    --line_height : calc(100vh - var(--header_height));
    --margin_right : 20px;
    --img_size : 20px;
    --margin_right_options : calc(var(--margin_right) + var(--img_size)/2);
    --margin_top_options : calc(var(--header_height)/2 + var(--img_size)/2);
}

.header{
    color: #002766;
    height: var(--header_height);
    width: 100%;
    padding : 10px;
}

.space-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0px;
}

/* space内部元素间距20px */
.space-container > * {
    margin : 10px;
}

/* 图标纵轴居中 */
.logo{
    display: flex;
    align-items: center;
    height : var(--header_height);
    margin: 0px;
    margin-left: 20px;
}

/* 针对Input.Search，用于纵轴居中 */
.ant-input-search {
    margin: 0;
}

.search-container{
    display: flex;
    align-items: center;
    height : var(--header_height);
    margin: 0px;
}

/* 输入框外边框设置 */
.search-input{
    display: flex;
    align-items: center;
    width: fit-content;
    height : 50%;
    flex-direction: row;
    margin: 0;
    border-color: lightgray;
    background-color: transparent;
    color : white;
}

/* 输入框背景与字体颜色 */
.search-input input{
    background-color: transparent;
    color : white;
}

/* 修改选中后的颜色，但是貌似没有效果 */
.ant-input-affix-warpper-focused{
    box-shadow: lightgray;
}

.ant-input-suffix{
    margin-right: -5px;
}

/* 导航区设置 */
.nav > * {
    margin : 10px;
    color:white;
    font-weight: bold;
}

.nav{
    height : var(--header_height);
    display: flex;
    align-items: center;
}

/* 头像设置 */
.avatar-container{
    color: white;
    position: absolute;
    height: var(--header_height);
    right: var(--margin_right);
    top: 0;
    display: flex;
    align-items: center;
}
.user-avatar{
    border-color: white;
    width: var(--img_size);
    height: var(--img_size);
}

/* 用户选项设置 */
.user-options{
    position: absolute;
    top: var(--margin_top_options);
    right: var(--margin_right_options);
    color: black;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
}

.user-options > * {
    margin : 5px;
    line-height: 1em;
}

/* ----------------header content分割线---------------- */

/* 文字导航设置 */
.content-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    background-color : #f6f8fa;
}

.divider-left{
    content: "";
    display: block;
    width: 1px;
    height: var(--line_height);
    background-color: gray;
    position: absolute;
    left: 25%;
    top:0
}

.divider-right{
    content: "";
    display: block;
    width: 0.5px;
    height: var(--line_height);
    background-color: gray;
    position: absolute;
    left: 75%;
    top:0
}

.left{
    flex:1;
    text-align: center;
}
.center{
    flex:2;
    text-align: center;
}
.right{
    flex:1;
    text-align: center;
}